@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
ul,p{
    padding: 0 !important;
    margin: 0 !important;
}
a{
    text-decoration: none !important;
}
:root{
    --primary-color: #4d90fe;
    --bg-body: #f3f3f3;
    --bg-circle: #e3e6edce;
    --bg-div: #fff;
    --text-hight: #2f904b;
    --text-color: #393939d2;
    --border-div: #cbd0dd;
    --color-title: #000000c5;
    --hover-bg: #eff2f6;
    --hover-btn: #e3e6ed;
    --btn-bg: #e3e6ed;
    --btn-hover-bg: #8a94ad;
    --hover-bg-tab: #eff2f6;
    --text-heading: #141824;

}

body{
    width: 100%;
    height: 100vh;
    background: var(--bg-body) !important;
    position: relative;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img{
    object-fit: cover;
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.col-50{
    width: 48%;
}
input{
    border: 1px solid #00000054;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    padding-left: 45px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-circle);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover{
    background: #3874ffe7;
    transition: .3s linear;
}
.circle:hover{
    background: var(--btn-bg);
    transition: .3s linear;
}
.is-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.is-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading{
    width: 100%;
}
.title{
    font-size: 15px;
    color: var(--color-title);
    font-weight: 500;
}
.mt-3{
    margin-top: 15px;
}
.menu{
    display: none;
    position: absolute;
    top: 45px;
    right: 50%;
    z-index: 99999999999;
    width: 290px;
    background: white;
    border-radius: 8px;
    border: 1px solid var(--border-div);
    .infor_user{
        width: 100%;
        padding-top: 30px;
        .circle{
            width: 60px;
            height: 60px;
        }
    }
    .divider{
        width: 100%;
        border-top: 1px solid var(--border-div);
        margin: 15px 0;
        height: 1px;
    }
    .list_menu{
        width: 100%;
        .item_menu{
            width: 100%;
            a{
                padding: .5rem 10px .5rem 10px;
                justify-content: start;
                font-size: 14px;
                i{
                    font-size: 15px;
                    margin-right: 10px;
                    color: var(--text-color);
                }
            }
        }
        .item_menu:hover{
            transition: .3s ease-in;
            background: var(--hover-bg);
        }
    }
    .btn-logout{
        width: 90%;
        background: var(--btn-bg);
        border: 1px solid var(--border-div);
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 7px 0;
        opacity: 0.7;
        i{
            margin-right: 10px;
        }
    }
    .btn-logout:hover{
        transition: 0.3s linear;
        opacity: 1;
    }
}

.menu.active{
    display: block;
}

header{
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 1px solid var(--border-div) ;
    background: var(--bg-div);
    .logo{
        width: 240px;
        height: 100%;
        text-align: center;
        h1{
            font-family: "Yuji Mai", serif;
            font-size: 30px;
            color: var(--text-hight);
        }
    }
    .search{
        width: 30%;
        max-width: 40%;
        position: relative;
        i{
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            font-size: 23px;
            color: var(--text-color);
        }
    }
    .user{
        height: 100%;
        gap: 10px;
        margin-right: 30px;
        .circle{
            i{
                font-size: 18px;
                color: var(--text-color);
            }
        }
    }
}

.layout{
    display: flex;
    position: relative;
    width: 100%;
    .menu_bar_collap{
        position: absolute;
        bottom: 1.7%;
        left: 30px;
        display: none;
        i{
            color: var(--color-title);
        }
    }
    .menu_bar_collap.collap{
        display: flex;
    }
    nav{
        width: 240px;
        position: relative;     
        transition:  width 0.5s ease-in-out;
        height: 100%;
        border-right: 1px solid var(--border-div);
        background: var(--bg-div);
        .list{
            width: 100%;
            margin-top: 20px;
            transition: .6s ease-in-out;
            .tab_item{
                margin: 5px 0;
                width: 100%;
                padding: 0 15px;
                .link_tab{
                    font-size: 14px;
                    padding: 5px 10px;
                    color: var(--text-color);
                    border-radius: 10px;
                    width: 100%;
                    justify-content: start;
                    i{
                        font-size: 15px;
                        margin-right: 8px;
                        line-height: 1.6;
                    }
                }
                .drop_down{
                    padding: 0 15px !important;
                    display: none;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    .tab_drop{
                        margin: 5px 0;
                        width: 100%;
                        border-radius: 10px;
                        a{
                            width: 100%;
                            padding: 7px 30px;
                            font-size: 14px;
                            color: var(--text-color);
                            justify-content: start;
                        }
                    }
                    .tab_drop:hover{
                        transition: 0.4s linear;
                        background: var(--hover-bg-tab);
                    }
                }
                .drop_down.click{
                    display: block;
                }
            }
            .tab_item:hover a {
                transition: 0.4s linear;
                background: var(--hover-bg-tab);
            }
            .tab_item:last-child:hover .drop_down a{
                background: none; 
                transition: none; 
            }
            .tab_item.active a{
                background: var(--hover-bg-tab);
            }
        }
        .bottom{
            position: absolute;
            width: 100%;
            height: 70px;
            bottom: 0;
            cursor: pointer;
            justify-content: start;
            padding-left: 35px;
            border-top: 1px solid var(--border-div) ;
            font-size: 15px;
            i{
                font-size: 16px;
                margin-right: 10px;
                line-height: 1.6;
            }
        }
    }
    nav.collap{
        width: 0%;
        transition:  width 0.5s ease-in-out;
        .list, .bottom{
            display: none;
            transition: block 0.5s ease-in-out;
        }
    }
    main{
        width: calc(100% - 240px);
        transition:  width 0.5s ease-in-out;
        padding-top: 20px;
        height: 100%;
        overflow: auto;
        .chart{
            padding: 0 30px;
            .level{
                width: 50%;
                position: relative;
                .title{
                    width: 100%;
                    h2{
                        font-size: 1.953125rem;
                        font-weight: 600;
                        color: var(--text-heading);
                    }
                    h5{
                        color: rgb(82, 91, 117);
                        font-size: 11px;
                    }
                }
                .report_sale{
                    width: 100%;
                    justify-content: start;
                    margin-top: 20px;
                    gap: 20px;
                    .item_roport{
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        padding: 10px 15px;
                        border-radius: 7px;
                        border: 1px solid var(--border-div);
                        background: var(--bg-div);
                        box-shadow: -1px 4px 5px 0px rgba(144,111,111,0.75);
                        -webkit-box-shadow: -1px 4px 5px 0px rgba(144,111,111,0.75);
                        -moz-box-shadow: -1px 4px 5px 0px rgba(144,111,111,0.75);
                        .parameter{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            .number_parater{
                                margin-right: 10px ;
                                h2{
                                    margin-top: 5px;
                                    font-size: 47px;
                                }
                            }
                            h3{
                                font-size: 16px;
                                font-weight: 500;
                            }
                            h5{
                                color: rgb(82, 91, 117);
                                font-size: 11px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
        .comments{
            margin-top: 30px;
            display: block;
            border-bottom: 1px solid var(--border-div);
            border-top: 1px solid var(--border-div);
        }
        .comments{
            width: 100%;
            padding: 0 30px;
            background: var(--bg-div);
            .title_table{
                width: 100%;
                align-items: center;
                .title{
                    width: 50%;
                    h3{
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: var(--text-heading);
                        margin-top: 20px;
                    }
                    .sub_heading{
                        font-size: 12px;
                        color: var(--text-color);
                    }
                }
                
            }
        }
        .table{
            width: 100%;
            z-index: 0;
            margin: 30px 0;
            min-width: 1400px;
            border-collapse: collapse;
            thead{
                border-bottom: 1px solid var(--border-div);
                border-top: 1px solid var(--border-div);
            }
            tbody{
                td{
                    border-bottom: 1px solid var(--border-div);
                }
                tr:hover{
                    td{
                        .layout{
                            display: flex;
                            transition: .3s linear;
                        }
                    }
                    .col_time{
                        p{
                            display: none;
                        }
                    }
                }
            }
            tr{
                th, td{
                    text-align: left;
                }
                th{
                    font-size: 14px;
                    font-weight: 550;
                    text-transform: uppercase;
                }
                td{
                    font-size: 14px;
                    font-weight: normal;
                    .layout{
                        align-items: center;
                        width: 100%;
                        .circle{
                            width: 45px;
                            height: 45px;
                            overflow: hidden;
                            margin-right: 15px;
                        }
                        span{
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                    span{
                        display: -webkit-box; 
                        -webkit-line-clamp: 1; 
                        -webkit-box-orient: vertical; 
                        overflow: hidden; 
                        text-overflow: ellipsis;
                    }
                    
                    .svg-inline--fa {
                        display: inline-block;
                        height: 1em;
                        overflow: visible;
                        vertical-align: -.125em;
                        color: rgb(229, 120, 11);
                        font-size: .64rem !important;
                    }
                    p{
                        display: -webkit-box; 
                        -webkit-line-clamp: 3; 
                        -webkit-box-orient: vertical; 
                        overflow: hidden; 
                        text-overflow: ellipsis;
                    }
                }
                .column_checkbox{
                    width: 3%;
                }
                .col_image{
                     width: 7%;
                }
                .col_product{
                    width: 10%;
                }
                .col_custumer{
                    width: 10%;
                    .layout{
                        justify-content: start;
                    }
                }
                
                .col_star{
                    width: 7%;
                }
                .col_review{
                    width: 30%;
                }
                
                .col_status{
                    width: 10%;
                    padding-left: 15px;
                    .status_comment{
                        border-radius: 3px;
                        max-width: 90%;
                        background: #d9fbd0;
                        border: 1px solid #90d67f;
                        color: #1c6c09;
                        font-size: 12px;
                        text-transform: uppercase;
                        i{
                            font-size: 14px;
                            margin-left: 5px;
                            line-height: 1.5;
                        }
                    }
                    .status_comment_pending{
                        color:#bc3803;
                        background: #ffefca;
                        border: 1px solid #ffcc85;
                    }
                    .status_comment_block{
                        color:#c90c05;
                        background: #f74d4d8a;
                        border: 1px solid #ff8585;
                    }
                }
                .col_time{
                    width: 13%;
                    text-align: center;
                    padding-left: 10px;
                    .layout{
                        display: none;
                        justify-content: center;
                        .circle{
                            background: var(--hover-btn);
                            border: 1px solid var(--border-div);
                            border-radius: 5px;
                            width: 35px;
                            height: 35px;
                            a{
                                width: 100%;
                                color: black;
                            }
                        }
                        .circle:hover{
                            transition: .3s linear;
                            background: var(--primary-color);
                            i{
                                color: white;
                                transition: .3s linear;
                            }
                        }
                        .circle:nth-child(2):hover{
                            background: #cc0033;
                        }
                    }
                }
                .wrapper_img_product{
                    width: 100%;
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 8px;
                        border: 1px solid var(--border-div);
                        object-fit: cover;
                    }
                }
            }
            
        }
        .footer{
            padding: 15px 0;
            width: 100%;
            text-align: center;
        }
        .heading_page{
            padding: 0 30px;
            width: 100%;
            color: var(--text-color);
            h5{
                font-size: 12px;
            }
            h2{
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 35px;
                color: var(--text-heading);
            }
            .option_table{
                width: 100%;
                .search_right{
                    gap: 30px;
                    .export_btn{
                        font-size: 13px;
                        font-weight: 500;
                        i{
                            font-size: 16px;
                        }
                    }
                    .add_btn{
                        a{
                            width: 100%;
                            color: var(--bg-div);
                        }
                    }
                    .export_btn:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }
    main.collap{
        width: 100%;
        transition:  width 0.5s ease-in-out;
    }
    .search{
        width: 50%;
        justify-content: end;
        gap: 15px;
        input{
            border: 1px solid var(--border-div);
            border-radius: 5px;
            padding: 8px 15px;
            padding-left: 30px;
        }
        .wrapper_search{
            position: relative;
            width: 50%;
            .bi-search{
                position: absolute;
                top: 50%;
                left: 5px;
                color: var(--text-color);
                transform: translateY(-50%);
            }
            input{
                width: 100%;
            }
        }
        .seleted,.selection{
            border: 1px solid var(--border-div);
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

.add_page{
    margin-top: 50px;
    background: var(--bg-div);
    padding: 40px 30px;
    form{
        width: 100%;
        display: flex;
        gap: 20px;
        
        .level-left, .level-right{
            position: relative;
            .level-top{
                width: 100%;
                border: 1px solid var(--border-div);
                border-radius: 8px;
                .heading{
                    border-bottom: 1px solid var(--border-div);
                    h2{
                        margin-left: 20px;
                        font-size: 27px;
                        padding: 5px 0;
                        color: var(--text-heading);
                    }
                }
                label{
                    font-weight: 500;
                    color: var(--text-color);
                }
                input{
                    height: auto;
                }
            }
        }
        .layout{
            display: block;
            padding: 0 20px;
            .wrapper_product{
                width: 100%;
                margin: 20px 0;
                .frame_image{
                    width: calc(100% / 3 - 11px);
                    border: 1px dashed var(--primary-color);
                    border-radius: 6px;
                    aspect-ratio: 1 / 1;
                    cursor: pointer;
                    h4{
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--primary-color);
                    }
                    i{
                        color: var(--primary-color);
                        font-size: 28px;
                    }
                }
                .image{
                    border: none;
                    overflow: hidden;
                    position: relative;
                    .btn-me{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: none;
                    }
                }
                .image:hover img{
                    transform: scale(1.1);
                    transition: .4s linear;
                    opacity: 0.8;
                }   
                .image:hover .btn-me{
                    transition: .4s linear;
                    display: block;
                }

            }
            
        }
    }
}

.btn-save{
    position: absolute;
    bottom: 0;
    left:0;
}

.page_bar{
    position: relative;
    line-height: 31px;
    height: 33px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: 14px;
    gap: 10px;
    .next, .next_all, .current, .number_page{
        text-align: center;
        padding: 0px 10px;
        border: 1px solid #d2d2d2;
        background: none;
        color: #393939;
        text-align: center;
        border-radius: 5px;
    }
    .number_page.active{
        color: #fff;
        background: #2f904b;
        border: none;
    }
    .number_page{
        width: 33px;
        padding: 0;
    }
    
    .next:hover, .next_all:hover,.number_page:hover {
        color: #fff;
        background: #2f904b;
        border: 1px solid #f3f3f3;
        transition: 0.3s ease;
    } 
    .current{
        cursor: unset;
    }
    .previous{
        display: none;
    }
}
