<div class="heading_page">
    <h5>Dashboard <i class="bi bi-chevron-right"></i> Orders</h5>
    <h2>Orders</h2>
    <div class="option_table is-between">
        <div class="search">
            <div class="wrapper_search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="search order...">
            </div>
        </div>
        <div class="is-between search_right">
            <div class="export_btn">
                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                Export
            </div>
            <a href="/orders/add" class="add_btn btn btn-primary">
                <i class="bi bi-plus-lg"></i> Add orders
            </a>
        </div>
    </div>
</div>

<div class="layout comments">
    <table class="table table_convert">
        <thead>
            <tr>
                <th scope="col"><input type="checkbox" name="" id=""></th>
                <th scope="col"></th>
                <th scope="col">Product <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Custumer <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Address <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Pay Method <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" class="col_status">Status <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" class="col_time">Time <i class="bi bi-chevron-expand"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <td style="width:50px;"><input type="checkbox" name="" id=""></th>
                <td style="width:100px">
                    <div class="wrapper_img_product">
                        <a href="#" class="is-center" style="width:100%;">
                            <img src="/img/product/1.jpg" alt="">
                        </a>
                    </div>
                </td>
                <td style="color: rgb(56, 116, 255);" class="col-2"><span>Dây xích huyền thoại</span></td>
                <td class="col-2">
                    <div class="layout">
                        <div class="circle">
                            <img src="/img/user.jpg" alt="">
                        </div>
                        <span>Nguyen Huy Hung</span>
                    </div>
                </td>
                <td class="col-3">
                    <p>Thôn Kênh Trạch - xã Hưng Nhân - huyện Vĩnh Bảo - Hải Phòng</p>
                </td>
                <td class="col-1">
                    <p>Thanh toán khi nhận hàng</p>
                </td>
                <td class="col_status">
                    <div class="status_comment_approved status_comment is-center">
                        approved
                        <i class="bi bi-check2" ></i>
                    </div>
                </td>
                <td class="col_time">
                    <p>Just now</p>
                    <div class="layout">
                        <div class="circle"><i class="bi bi-check-lg"></i></div>
                        <div class="circle"><i class="bi bi-trash"></i></div>
                        <div class="circle"><i class="bi bi-three-dots"></i></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>