<div class="heading_page">
    <h5>Dashboard <i class="bi bi-chevron-right"></i> Products</h5>
    <h2>Products</h2>
    <div class="option_table is-between">
        <div class="search">
            <div class="wrapper_search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="search products">
            </div>
        </div>
        <div class="is-between search_right">
            <div class="export_btn">
                <i class="bi bi-file-earmark-arrow-down-fill"></i>
                Export
            </div>
            <div class="add_btn btn btn-primary btn_me">
                <a href="/products/add">
                    <i class="bi bi-plus-lg"></i> Add product
                </a>
            </div>
        </div>
    </div>
</div>

<div class="layout comments">
    <table class="table table_convert">
        <thead>
            <tr>
                <th scope="col" class="column_checkbox"><input type="checkbox" name="" id=""></th>
                <th scope="col" class="col_image"></th>
                <th scope="col">Product <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Price <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" style="padding-left:40px" class="col_status">Stock <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Unit <i class="bi bi-chevron-expand"></i></th>
                <th scope="col">Description <i class="bi bi-chevron-expand"></i></th>
                <th scope="col" class="col_time">Time <i class="bi bi-chevron-expand"></i></th>
            </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
    <div class="page_bar is-center">
        {{!-- <button class="number_page active">1</button>
        <button class="number_page">2</button>
        <button class="number_page">3</button>
        <button class="number_page">4</button>
        <button class="number_page">5</button>
        <button class="number_page">6</button> --}}
        

    </div> 
</div>

<form method="POST" name="delete-product-form"></form>

<div class="modal fade" id="delete-product-model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        Are you want to delete this product!
        <i class="bi bi-emoji-frown-fill" style="font-size: 1.2rem; color: red; margin-left: 10px;"></i>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="footer">
    Thank you for creating with HuyHung | 2024 © 
</div>

<script>
  const deleteSong = document.getElementById('delete-product-model')
  const btnDelete = document.getElementById('btn-delete');
  const deleteForm = document.forms['delete-product-form'];

  var productId;
  if (deleteSong) {
    deleteSong.addEventListener('show.bs.modal', event => {
      const button = event.relatedTarget
      productId = button.getAttribute('data-id')
    })
  }
  if(btnDelete){
    btnDelete.addEventListener('click', () => {
      deleteForm.action = '/products/' + productId + '?_method=DELETE';
      deleteForm.submit();
    })
  }
</script>