<div class="form_wrapper is-center">
    <div class="banner_form align-middle">
        <div class="heading">
            <h1>Hello! Admin</h1>
        </div>
        <div class="robot_banner is-center">
            <img src="/img/robot.png" alt="" srcset="">
            <h2>i'am Hugo<br>
                <span>let's learn about this app</span>
            </h2>
        </div>
    </div>
    <div class="login_form">
        <div class="heading">
            <h1>welcome</h1>
        </div>
        <div class="logo_form is-center">
            <img src="/img/logo.png" alt="" srcset="">
        </div>
        <form action="/login/store" method="post" class="form_login">
            <div class="form-group mt-5">
                <input type="text" class="form-control" name="account"  placeholder="Account" autocomplete="off">    
            </div>
            <div class="form-group mt-5">
                <input type="password" class="form-control" name="password"  placeholder="Password">    
            </div>
            <button type="submit" class="btn_login form-control">login</button>
        </form>
        <div class="forget_text">
            <p>You forget your password? <span>Forget</span></p>
        </div>
    </div>
</div>