@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Yuji+Mai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

:root {
  --bg-body: #f3f3f3;
  --bg-circle: #e3e6edce;
  --bg-div: #fff;
  --text-hight: #2f904b;
  --text-color: #393939d2;
  --border-div: #cbd0dd;
  --color-title: #000000c5;
  --hover-bg: #eff2f6;
  --hover-btn: #e3e6ed;
  --btn-bg: #e3e6ed;
  --btn-hover-bg: #8a94ad;
  --hover-bg-tab: #eff2f6;
  --text-heading: #141824;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-body) !important;
  position: relative;
  display: flex;
  font-family: "Poppins", sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input {
  border: 1px solid rgba(0, 0, 0, 0.3294117647);
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  padding-left: 45px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--bg-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  background: rgba(56, 116, 255, 0.9058823529);
  transition: 0.3s linear;
}

.circle:hover {
  background: var(--btn-bg);
  transition: 0.3s linear;
}

.is-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.is-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 15px;
  color: var(--color-title);
  font-weight: 500;
}

.mt-3 {
  margin-top: 15px;
}

.menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 50%;
  z-index: 99999999999;
  width: 290px;
  background: white;
  border-radius: 8px;
  border: 1px solid var(--border-div);
}
.menu .infor_user {
  width: 100%;
  padding-top: 30px;
}
.menu .infor_user .circle {
  width: 60px;
  height: 60px;
}
.menu .divider {
  width: 100%;
  border-top: 1px solid var(--border-div);
  margin: 15px 0;
  height: 1px;
}
.menu .list_menu {
  width: 100%;
}
.menu .list_menu .item_menu {
  width: 100%;
}
.menu .list_menu .item_menu a {
  padding: 0.5rem 10px 0.5rem 10px;
  justify-content: start;
  font-size: 14px;
}
.menu .list_menu .item_menu a i {
  font-size: 15px;
  margin-right: 10px;
  color: var(--text-color);
}
.menu .list_menu .item_menu:hover {
  transition: 0.3s ease-in;
  background: var(--hover-bg);
}
.menu .btn-logout {
  width: 90%;
  background: var(--btn-bg);
  border: 1px solid var(--border-div);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 7px 0;
  opacity: 0.7;
}
.menu .btn-logout i {
  margin-right: 10px;
}
.menu .btn-logout:hover {
  transition: 0.3s linear;
  opacity: 1;
}

.menu.active {
  display: block;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  border-bottom: 1px solid var(--border-div);
  background: var(--bg-div);
}
header .logo {
  width: 240px;
  height: 100%;
  text-align: center;
}
header .logo h1 {
  font-family: "Yuji Mai", serif;
  font-size: 30px;
  color: var(--text-hight);
}
header .search {
  width: 30%;
  max-width: 40%;
  position: relative;
}
header .search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 23px;
  color: var(--text-color);
}
header .user {
  height: 100%;
  gap: 10px;
  margin-right: 30px;
}
header .user .circle i {
  font-size: 18px;
  color: var(--text-color);
}

.layout {
  display: flex;
  position: relative;
  width: 100%;
}
.layout .menu_bar_collap {
  position: absolute;
  bottom: 1.7%;
  left: 30px;
  display: none;
}
.layout .menu_bar_collap i {
  color: var(--color-title);
}
.layout .menu_bar_collap.collap {
  display: flex;
}
.layout nav {
  width: 240px;
  position: relative;
  transition: width 0.5s ease-in-out;
  height: 100%;
  border-right: 1px solid var(--border-div);
  background: var(--bg-div);
}
.layout nav .list {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.layout nav .list .tab_item {
  margin: 5px 0;
  width: 100%;
  padding: 0 15px;
}
.layout nav .list .tab_item .link_tab {
  font-size: 14px;
  padding: 5px 10px;
  color: var(--text-color);
  border-radius: 10px;
  width: 100%;
  justify-content: start;
}
.layout nav .list .tab_item .link_tab i {
  font-size: 15px;
  margin-right: 8px;
  line-height: 1.6;
}
.layout nav .list .tab_item .drop_down {
  padding: 0 15px !important;
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
}
.layout nav .list .tab_item .drop_down .tab_drop {
  margin: 5px 0;
  width: 100%;
  border-radius: 10px;
}
.layout nav .list .tab_item .drop_down .tab_drop a {
  width: 100%;
  padding: 7px 30px;
  font-size: 14px;
  color: var(--text-color);
  justify-content: start;
}
.layout nav .list .tab_item .drop_down .tab_drop:hover {
  transition: 0.4s linear;
  background: var(--hover-bg-tab);
}
.layout nav .list .tab_item .drop_down.click {
  display: block;
}
.layout nav .list .tab_item:hover a {
  transition: 0.4s linear;
  background: var(--hover-bg-tab);
}
.layout nav .list .tab_item:last-child:hover .drop_down a {
  background: none;
  transition: none;
}
.layout nav .bottom {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  cursor: pointer;
  justify-content: start;
  padding-left: 35px;
  border-top: 1px solid var(--border-div);
  font-size: 15px;
}
.layout nav .bottom i {
  font-size: 16px;
  margin-right: 10px;
  line-height: 1.6;
}
.layout nav.collap {
  width: 0%;
  transition: width 0.5s ease-in-out;
}
.layout nav.collap .list, .layout nav.collap .bottom {
  display: none;
}
.layout main {
  width: calc(100% - 240px);
  transition: width 0.5s ease-in-out;
  padding-top: 20px;
  height: 100%;
  overflow: auto;
}
.layout main .chart {
  padding: 0 30px;
}
.layout main .chart .level {
  width: 50%;
  position: relative;
}
.layout main .chart .level .title {
  width: 100%;
}
.layout main .chart .level .title h2 {
  font-size: 1.953125rem;
  font-weight: 600;
  color: var(--text-heading);
}
.layout main .chart .level .title h5 {
  color: rgb(82, 91, 117);
  font-size: 11px;
}
.layout main .chart .level .report_sale {
  width: 100%;
  justify-content: start;
  margin-top: 20px;
  gap: 20px;
}
.layout main .chart .level .report_sale .item_roport {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid var(--border-div);
  background: var(--bg-div);
  box-shadow: -1px 4px 5px 0px rgba(144, 111, 111, 0.75);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(144, 111, 111, 0.75);
  -moz-box-shadow: -1px 4px 5px 0px rgba(144, 111, 111, 0.75);
}
.layout main .chart .level .report_sale .item_roport .parameter {
  width: 100%;
  display: flex;
  align-items: center;
}
.layout main .chart .level .report_sale .item_roport .parameter .number_parater {
  margin-right: 10px;
}
.layout main .chart .level .report_sale .item_roport .parameter .number_parater h2 {
  margin-top: 5px;
  font-size: 47px;
}
.layout main .chart .level .report_sale .item_roport .parameter h3 {
  font-size: 16px;
  font-weight: 500;
}
.layout main .chart .level .report_sale .item_roport .parameter h5 {
  color: rgb(82, 91, 117);
  font-size: 11px;
  font-weight: 500;
}
.layout main .comments {
  margin-top: 30px;
  display: block;
  border-bottom: 1px solid var(--border-div);
  border-top: 1px solid var(--border-div);
}
.layout main .comments {
  width: 100%;
  padding: 0 30px;
  background: var(--bg-div);
}
.layout main .comments .title_table {
  width: 100%;
  align-items: center;
}
.layout main .comments .title_table .title {
  width: 50%;
}
.layout main .comments .title_table .title h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-heading);
  margin-top: 20px;
}
.layout main .comments .title_table .title .sub_heading {
  font-size: 12px;
  color: var(--text-color);
}
.layout main .table {
  width: 100%;
  z-index: 0;
  margin: 30px 0;
  border-collapse: collapse;
}
.layout main .table thead {
  border-bottom: 1px solid var(--border-div);
  border-top: 1px solid var(--border-div);
}
.layout main .table tbody td {
  border-bottom: 1px solid var(--border-div);
}
.layout main .table tbody tr:hover td .layout {
  display: flex;
  transition: 0.3s linear;
}
.layout main .table tbody tr:hover .col_time p {
  display: none;
}
.layout main .table tr th, .layout main .table tr td {
  text-align: left;
  padding: 7px 0;
}
.layout main .table tr th {
  font-size: 14px;
  font-weight: 550;
  text-transform: uppercase;
}
.layout main .table tr td {
  font-size: 14px;
  font-weight: normal;
}
.layout main .table tr td .layout {
  align-items: center;
}
.layout main .table tr td .layout .circle {
  width: 45px;
  height: 45px;
  overflow: hidden;
  margin-right: 15px;
}
.layout main .table tr td .layout span {
  font-size: 14px;
  font-weight: 500;
}
.layout main .table tr td span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout main .table tr td .svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  color: rgb(229, 120, 11);
  font-size: 0.64rem !important;
}
.layout main .table tr td p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout main .table tr .column_checkbox {
  width: 3%;
}
.layout main .table tr .col_product_img {
  width: 7%;
}
.layout main .table tr .col_product {
  width: 18%;
}
.layout main .table tr .col_custumer {
  width: 15%;
}
.layout main .table tr .col_star {
  width: 7%;
}
.layout main .table tr .col_review {
  width: 30%;
}
.layout main .table tr .col_status {
  width: 10%;
  padding-left: 15px;
}
.layout main .table tr .col_status .status_comment {
  border-radius: 3px;
  max-width: 90%;
  background: #d9fbd0;
  border: 1px solid #90d67f;
  color: #1c6c09;
  font-size: 12px;
  text-transform: uppercase;
}
.layout main .table tr .col_status .status_comment i {
  font-size: 14px;
  margin-left: 5px;
  line-height: 1.5;
}
.layout main .table tr .col_status .status_comment_pending {
  color: #bc3803;
  background: #ffefca;
  border: 1px solid #ffcc85;
}
.layout main .table tr .col_time {
  width: 10%;
  text-align: center;
  padding-left: 10px;
}
.layout main .table tr .col_time .layout {
  display: none;
}
.layout main .table tr .col_time .layout .circle {
  background: var(--hover-btn);
  border: 1px solid var(--border-div);
  border-radius: 5px;
  width: 35px;
  height: 35px;
}
.layout main .table tr .wrapper_img_product {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--border-div);
}
.layout main .table tr .wrapper_img_product img {
  width: 60px;
  object-fit: cover;
}
.layout main .footer {
  padding: 15px 0;
  width: 100%;
  text-align: center;
}
.layout main .heading_page {
  padding: 0 30px;
  width: 100%;
}
.layout main .heading_page h5 {
  font-size: 12px;
  font-weight: 500;
}
.layout main .heading_page h2 {
  margin: 10px 0;
  font-size: 35px;
}
.layout main .heading_page .option_table {
  width: 100%;
}
.layout main .heading_page .option_table .search_right {
  gap: 30px;
}
.layout main .heading_page .option_table .search_right .export_btn {
  font-size: 13px;
  font-weight: 500;
}
.layout main .heading_page .option_table .search_right .export_btn i {
  font-size: 16px;
}
.layout main .heading_page .option_table .search_right .add_btn a {
  width: 100%;
  color: var(--bg-div);
}
.layout main .heading_page .option_table .search_right .export_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.layout main.collap {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.layout .search {
  width: 50%;
  justify-content: end;
  gap: 15px;
}
.layout .search input {
  border: 1px solid var(--border-div);
  border-radius: 5px;
  padding: 8px 15px;
  padding-left: 30px;
}
.layout .search .wrapper_search {
  position: relative;
  width: 50%;
}
.layout .search .wrapper_search .bi-search {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--text-color);
  transform: translateY(-50%);
}
.layout .search .wrapper_search input {
  width: 100%;
}
.layout .search .seleted, .layout .search .selection {
  border: 1px solid var(--border-div);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.add_page {
  margin-top: 50px;
  background: var(--bg-div);
  padding: 15px 30px;
}
.add_page form {
  max-width: 90%;
  width: 90%;
}

/*# sourceMappingURL=app.css.map */
