@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Yuji+Mai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul, p {
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

:root {
  --primary-color: #4d90fe;
  --bg-body: #f3f3f3;
  --bg-circle: #e3e6edce;
  --bg-div: #fff;
  --text-hight: #2f904b;
  --text-color: #393939d2;
  --border-div: #cbd0dd;
  --color-title: #000000c5;
  --hover-bg: #eff2f6;
  --hover-btn: #e3e6ed;
  --btn-bg: #e3e6ed;
  --btn-hover-bg: #8a94ad;
  --hover-bg-tab: #eff2f6;
  --text-heading: #141824;
}

#toast-container > .toast {
  z-index: 10550 !important; /* Lớn hơn z-index mặc định của Bootstrap modal (1050) */
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-body) !important;
  position: relative;
  display: flex;
  font-family: "Poppins", sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.col-50 {
  width: 48%;
}

.discount_product {
  display: none;
}

.discount_product.active {
  display: block;
}

.input_quantity {
  border: 1px solid var(--border-div);
  background: none;
  border-radius: unset;
  opacity: 1;
  width: auto;
  padding: 5px 7px;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.3294117647);
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  padding-left: 45px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--bg-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  background: rgba(56, 116, 255, 0.9058823529);
  transition: 0.3s linear;
}

.circle:hover {
  background: var(--btn-bg);
  transition: 0.3s linear;
}

.is-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.is-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  width: 100%;
}

.title {
  font-size: 15px;
  color: var(--color-title);
  font-weight: 500;
}

.mt-3 {
  margin-top: 15px;
}

.right_level, .left_level {
  width: 50%;
}

.left_level #customerChart {
  background-color: var(--bg-div);
  border: 1px solid var(--border-div);
  border-radius: 8px;
  padding: 5px 30px;
}

.menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 50%;
  z-index: 99999999999;
  width: 290px;
  background: white;
  border-radius: 8px;
  border: 1px solid var(--border-div);
}
.menu .infor_user {
  width: 100%;
  padding-top: 30px;
}
.menu .infor_user .circle {
  width: 60px;
  height: 60px;
}
.menu .divider {
  width: 100%;
  border-top: 1px solid var(--border-div);
  margin: 15px 0;
  height: 1px;
}
.menu .list_menu {
  width: 100%;
}
.menu .list_menu .item_menu {
  width: 100%;
}
.menu .list_menu .item_menu a {
  padding: 0.5rem 10px 0.5rem 10px;
  justify-content: start;
  font-size: 14px;
}
.menu .list_menu .item_menu a i {
  font-size: 15px;
  margin-right: 10px;
  color: var(--text-color);
}
.menu .list_menu .item_menu:hover {
  transition: 0.3s ease-in;
  background: var(--hover-bg);
}
.menu .btn-logout {
  width: 90%;
  background: var(--btn-bg);
  border: 1px solid var(--border-div);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 7px 0;
  opacity: 0.7;
}
.menu .btn-logout i {
  margin-right: 10px;
}
.menu .btn-logout:hover {
  transition: 0.3s linear;
  opacity: 1;
}

.menu.active {
  display: block;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  border-bottom: 1px solid var(--border-div);
  background: var(--bg-div);
  z-index: 9999999;
}
header .logo {
  width: 240px;
  height: 100%;
  text-align: center;
}
header .logo h1 {
  font-family: "Yuji Mai", serif;
  font-size: 30px;
  color: var(--text-hight);
}
header .search {
  width: 30%;
  max-width: 40%;
  position: relative;
}
header .search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 23px;
  color: var(--text-color);
}
header .user {
  height: 100%;
  gap: 10px;
  margin-right: 30px;
}
header .user a {
  color: var(--text-color);
}
header .user .circle i {
  font-size: 18px;
  color: var(--text-color);
}

.tab_drop.active {
  background: var(--hover-bg-tab);
}

.layout {
  display: flex;
  position: relative;
  width: 100%;
}
.layout .menu_bar_collap {
  position: absolute;
  bottom: 1.7%;
  left: 30px;
  display: none;
}
.layout .menu_bar_collap i {
  color: var(--color-title);
}
.layout .menu_bar_collap.collap {
  display: flex;
}
.layout nav {
  width: 240px;
  position: relative;
  transition: width 0.5s ease-in-out;
  height: 100%;
  border-right: 1px solid var(--border-div);
  background: var(--bg-div);
}
.layout nav .list {
  width: 100%;
  margin-top: 20px;
  transition: 0.6s ease-in-out;
}
.layout nav .list .tab_item {
  margin: 5px 0;
  width: 100%;
  padding: 0 15px;
}
.layout nav .list .tab_item .link_tab {
  font-size: 14px;
  padding: 5px 10px;
  color: var(--text-color);
  border-radius: 10px;
  width: 100%;
  justify-content: start;
}
.layout nav .list .tab_item .link_tab i {
  font-size: 15px;
  margin-right: 8px;
  line-height: 1.6;
}
.layout nav .list .tab_item .drop_down {
  padding: 0 15px !important;
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
}
.layout nav .list .tab_item .drop_down .tab_drop {
  margin: 5px 0;
  width: 100%;
  border-radius: 10px;
}
.layout nav .list .tab_item .drop_down .tab_drop a {
  width: 100%;
  padding: 7px 30px;
  font-size: 14px;
  color: var(--text-color);
  justify-content: start;
}
.layout nav .list .tab_item .drop_down .tab_drop:hover {
  transition: 0.4s linear;
  background: var(--hover-bg-tab);
}
.layout nav .list .tab_item .drop_down.click {
  display: block;
}
.layout nav .list .tab_item:hover a {
  transition: 0.4s linear;
  background: var(--hover-bg-tab);
}
.layout nav .list .tab_item:last-child:hover .drop_down a {
  background: none;
  transition: none;
}
.layout nav .list .tab_item.active a {
  background: var(--hover-bg-tab);
}
.layout nav .bottom {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  cursor: pointer;
  justify-content: start;
  padding-left: 35px;
  border-top: 1px solid var(--border-div);
  font-size: 15px;
}
.layout nav .bottom i {
  font-size: 16px;
  margin-right: 10px;
  line-height: 1.6;
}
.layout nav.collap {
  width: 0%;
  transition: width 0.5s ease-in-out;
}
.layout nav.collap .list, .layout nav.collap .bottom {
  display: none;
  transition: block 0.5s ease-in-out;
}
.layout main {
  width: calc(100% - 240px);
  transition: width 0.5s ease-in-out;
  padding-top: 20px;
  height: 100%;
  overflow: auto;
}
.layout main .chart {
  padding: 0 30px;
}
.layout main .chart .level {
  width: 50%;
  position: relative;
}
.layout main .chart .level .title {
  width: 100%;
}
.layout main .chart .level .title h2 {
  font-size: 1.953125rem;
  font-weight: 600;
  color: var(--text-heading);
}
.layout main .chart .level .title h5 {
  color: rgb(82, 91, 117);
  font-size: 11px;
}
.layout main .chart .level .report_sale {
  width: 100%;
  justify-content: start;
  margin-top: 20px;
  gap: 20px;
}
.layout main .chart .level .report_sale .item_roport {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid var(--border-div);
  background: var(--bg-div);
  box-shadow: -1px 4px 5px 0px rgba(144, 111, 111, 0.75);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(144, 111, 111, 0.75);
  -moz-box-shadow: -1px 4px 5px 0px rgba(144, 111, 111, 0.75);
}
.layout main .chart .level .report_sale .item_roport .parameter {
  width: 100%;
  display: flex;
  align-items: center;
}
.layout main .chart .level .report_sale .item_roport .parameter .number_parater {
  margin-right: 10px;
}
.layout main .chart .level .report_sale .item_roport .parameter .number_parater h2 {
  margin-top: 5px;
  font-size: 47px;
}
.layout main .chart .level .report_sale .item_roport .parameter h3 {
  font-size: 16px;
  font-weight: 500;
}
.layout main .chart .level .report_sale .item_roport .parameter h5 {
  color: rgb(82, 91, 117);
  font-size: 11px;
  font-weight: 500;
}
.layout main .comments {
  margin-top: 30px;
  display: block;
  border-bottom: 1px solid var(--border-div);
  border-top: 1px solid var(--border-div);
}
.layout main .comments {
  width: 100%;
  padding: 0 30px;
  background: var(--bg-div);
}
.layout main .comments .title_table {
  width: 100%;
  align-items: center;
}
.layout main .comments .title_table .title {
  width: 50%;
}
.layout main .comments .title_table .title h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-heading);
  margin-top: 20px;
}
.layout main .comments .title_table .title .sub_heading {
  font-size: 12px;
  color: var(--text-color);
}
.layout main .table_convert {
  width: 100%;
  z-index: 0;
  margin: 30px 0;
  min-width: 1400px;
  border-collapse: collapse;
}
.layout main .table_convert thead {
  border-bottom: 1px solid var(--border-div);
  border-top: 1px solid var(--border-div);
}
.layout main .table_convert tbody td {
  border-bottom: 1px solid var(--border-div);
}
.layout main .table_convert tbody tr:hover td .layout {
  display: flex;
  transition: 0.3s linear;
}
.layout main .table_convert tbody tr:hover .col_time p {
  display: none;
}
.layout main .table_convert tr th, .layout main .table_convert tr td {
  text-align: left;
}
.layout main .table_convert tr th {
  font-size: 14px;
  font-weight: 550;
  text-transform: uppercase;
}
.layout main .table_convert tr td {
  font-size: 14px;
  font-weight: normal;
}
.layout main .table_convert tr td .layout {
  align-items: center;
  width: 100%;
}
.layout main .table_convert tr td .layout .circle {
  width: 45px;
  height: 45px;
  overflow: hidden;
  margin-right: 15px;
}
.layout main .table_convert tr td .layout span {
  font-size: 14px;
  font-weight: 500;
}
.layout main .table_convert tr td span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout main .table_convert tr td .svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  color: rgb(229, 120, 11);
  font-size: 0.64rem !important;
}
.layout main .table_convert tr td p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout main .table_convert tr .column_checkbox {
  width: 3%;
}
.layout main .table_convert tr .col_image {
  width: 7%;
}
.layout main .table_convert tr .col_product {
  width: 10%;
}
.layout main .table_convert tr .col_custumer .layout {
  justify-content: start;
}
.layout main .table_convert tr .col_star {
  width: 7%;
}
.layout main .table_convert tr .col_review {
  width: 30%;
}
.layout main .table_convert tr .col_status {
  width: 10%;
  padding-left: 15px;
}
.layout main .table_convert tr .col_status .status_comment {
  border-radius: 3px;
  max-width: 90%;
  background: #d9fbd0;
  border: 1px solid #90d67f;
  color: #1c6c09;
  font-size: 12px;
  text-transform: uppercase;
}
.layout main .table_convert tr .col_status .status_comment i {
  font-size: 14px;
  margin-left: 5px;
  line-height: 1.5;
}
.layout main .table_convert tr .col_status .status_comment_pending {
  color: #bc3803;
  background: #ffefca;
  border: 1px solid #ffcc85;
}
.layout main .table_convert tr .col_status .status_comment_block {
  color: #c90c05;
  background: rgba(247, 77, 77, 0.5411764706);
  border: 1px solid #ff8585;
}
.layout main .table_convert tr .col_time {
  width: 13%;
  text-align: center;
  padding-left: 10px;
}
.layout main .table_convert tr .col_time .layout {
  display: none;
  justify-content: center;
}
.layout main .table_convert tr .col_time .layout .circle {
  background: var(--hover-btn);
  border: 1px solid var(--border-div);
  border-radius: 5px;
  width: 35px;
  height: 35px;
}
.layout main .table_convert tr .col_time .layout .circle a {
  width: 100%;
  color: black;
}
.layout main .table_convert tr .col_time .layout .circle:hover {
  transition: 0.3s linear;
  background: var(--primary-color);
}
.layout main .table_convert tr .col_time .layout .circle:hover i {
  color: white;
  transition: 0.3s linear;
}
.layout main .table_convert tr .col_time .layout .circle:nth-child(2):hover {
  background: #cc0033;
}
.layout main .footer {
  padding: 15px 0;
  width: 100%;
  text-align: center;
}
.layout main .heading_page {
  padding: 0 30px;
  width: 100%;
  color: var(--text-color);
}
.layout main .heading_page h5 {
  font-size: 12px;
}
.layout main .heading_page h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 35px;
  color: var(--text-heading);
}
.layout main .heading_page .option_table {
  width: 100%;
}
.layout main .heading_page .option_table .search_right {
  gap: 30px;
}
.layout main .heading_page .option_table .search_right .export_btn {
  font-size: 13px;
  font-weight: 500;
}
.layout main .heading_page .option_table .search_right .export_btn i {
  font-size: 16px;
}
.layout main .heading_page .option_table .search_right .add_btn a {
  width: 100%;
  color: var(--bg-div);
}
.layout main .heading_page .option_table .search_right .export_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.layout .wrapper_img_product {
  width: 100%;
}
.layout .wrapper_img_product img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: 1px solid var(--border-div);
  object-fit: cover;
}
.layout main.collap {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.layout .search {
  width: 50%;
  justify-content: end;
  gap: 15px;
}
.layout .search input {
  border: 1px solid var(--border-div);
  border-radius: 5px;
  padding: 8px 15px;
  padding-left: 30px;
}
.layout .search .wrapper_search {
  position: relative;
  width: 50%;
}
.layout .search .wrapper_search .bi-search {
  position: absolute;
  top: 50%;
  left: 10px;
  color: var(--text-color);
  transform: translateY(-50%);
}
.layout .search .wrapper_search input {
  padding-left: 30px;
  width: 100%;
}
.layout .search .seleted, .layout .search .selection {
  border: 1px solid var(--border-div);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.add_page {
  margin-top: 50px;
  background: var(--bg-div);
  padding: 40px 30px;
}
.add_page form {
  width: 100%;
  display: flex;
  gap: 20px;
}
.add_page form .level-left, .add_page form .level-right {
  position: relative;
}
.add_page form .level-left .level-top, .add_page form .level-right .level-top {
  width: 100%;
  border: 1px solid var(--border-div);
  border-radius: 8px;
}
.add_page form .level-left .level-top .heading, .add_page form .level-right .level-top .heading {
  border-bottom: 1px solid var(--border-div);
}
.add_page form .level-left .level-top .heading h2, .add_page form .level-right .level-top .heading h2 {
  margin-left: 20px;
  font-size: 27px;
  padding: 5px 0;
  color: var(--text-heading);
}
.add_page form .level-left .level-top label, .add_page form .level-right .level-top label {
  font-weight: 500;
  color: var(--text-color);
}
.add_page form .level-left .level-top input, .add_page form .level-right .level-top input {
  height: auto;
}
.add_page form .layout {
  display: block;
  padding: 0 20px;
}
.add_page form .layout .wrapper_product {
  width: 100%;
  margin: 20px 0;
}
.add_page form .layout .wrapper_product .frame_image {
  width: calc(33.3333333333% - 11px);
  border: 1px dashed var(--primary-color);
  border-radius: 6px;
  aspect-ratio: 1/1;
  cursor: pointer;
}
.add_page form .layout .wrapper_product .frame_image h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}
.add_page form .layout .wrapper_product .frame_image i {
  color: var(--primary-color);
  font-size: 28px;
}
.add_page form .layout .wrapper_product .image {
  border: none;
  overflow: hidden;
  position: relative;
}
.add_page form .layout .wrapper_product .image .btn-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.add_page form .layout .wrapper_product .image:hover img {
  transform: scale(1.1);
  transition: 0.4s linear;
  opacity: 0.8;
}
.add_page form .layout .wrapper_product .image:hover .btn-me {
  transition: 0.4s linear;
  display: block;
}

.btn-save {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page_bar {
  position: relative;
  line-height: 31px;
  height: 33px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 14px;
  gap: 10px;
}
.page_bar .next, .page_bar .next_all, .page_bar .current, .page_bar .number_page {
  text-align: center;
  padding: 0px 10px;
  border: 1px solid #d2d2d2;
  background: none;
  color: #393939;
  text-align: center;
  border-radius: 5px;
}
.page_bar .number_page.active {
  color: #fff;
  background: var(--text-hight);
  border: none;
}
.page_bar .number_page {
  width: 33px;
  padding: 0;
}
.page_bar .next:hover, .page_bar .next_all:hover, .page_bar .number_page:hover {
  color: #fff;
  background: var(--text-hight);
  border: 1px solid #f3f3f3;
  transition: 0.3s ease;
}
.page_bar .current {
  cursor: unset;
}
.page_bar .previous {
  display: none;
}

.wrapper {
  width: 100%;
}

.login_container {
  position: fixed;
  z-index: 1000000000000000000000000000000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  font-family: Poppins-Regular, sans-serif;
}
.login_container .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.login_container input:focus {
  outline: none !important; /* Bắt buộc loại bỏ outline */
}
.login_container .form_wrapper {
  width: 70%;
  max-width: 100%;
  height: 80%;
  border-radius: 10px;
  max-height: 100%;
  box-shadow: 0 4px 8px rgba(190, 189, 189, 0.2), 0 6px 20px rgba(190, 189, 189, 0.2), 0 6px 20px rgba(190, 189, 189, 0.2), 0 6px 20px rgba(190, 189, 189, 0.2);
}
.login_container .form_wrapper .login_form, .login_container .form_wrapper .banner_form {
  background-color: var(--text-hight);
  width: 50%;
  height: 100%;
}
.login_container .form_wrapper .heading {
  padding-top: 70px;
  text-align: center;
  font-family: "Roboto", serif;
}
.login_container .form_wrapper .heading h1 {
  font-weight: 800;
  font-size: 70px;
  text-transform: uppercase;
  color: var(--text-hight);
}
.login_container .form_wrapper .login_form {
  border-radius: 0 10px 10px 0;
  background-color: rgba(247, 242, 242, 0.808);
}
.login_container .form_wrapper .login_form .logo_form {
  width: 100%;
  height: auto;
}
.login_container .form_wrapper .login_form .logo_form img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.login_container .form_wrapper .login_form form {
  padding: 0 100px;
  margin-top: 70px;
}
.login_container .form_wrapper .login_form form input {
  border: none;
  background: none;
  border-radius: 0;
  padding-left: 20px;
  border-bottom: 1px solid var(--border-div);
  padding-bottom: 10px;
}
.login_container .form_wrapper .login_form form .btn_login {
  margin-top: 100px;
  padding: 7px 0;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 22px;
  border: none;
  color: white;
  font-weight: 500;
  background: radial-gradient(circle, rgb(47, 144, 75) 46%, rgb(87, 88, 87) 82%);
  background-size: 200%;
  transition: background-position 2s linear;
}
.login_container .form_wrapper .login_form form .btn_login:hover {
  background-position: right center;
  background: radial-gradient(circle, rgb(4, 232, 145) 0%, rgb(148, 187, 233) 100%);
}
.login_container .form_wrapper .login_form .forget_text {
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}
.login_container .form_wrapper .login_form .forget_text span {
  color: var(--text-hight);
  cursor: pointer;
}
.login_container .form_wrapper .banner_form {
  border-radius: 10px 0 0 10px;
}
.login_container .form_wrapper .banner_form h1 {
  color: white;
  font-size: 50px;
}
.login_container .form_wrapper .banner_form .robot_banner {
  width: 100%;
  margin-top: 50px;
  padding: 0 30px;
  text-align: center;
}
.login_container .form_wrapper .banner_form .robot_banner img {
  width: 60%;
  height: auto;
  object-fit: cover;
}
.login_container .form_wrapper .banner_form .robot_banner h2 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.login_container .form_wrapper .banner_form .robot_banner h2 span {
  font-size: 20px;
}

.detail_btn:hover .menu_model_user {
  display: block;
}

.menu_model_user {
  border: 1px solid var(--border-div);
  width: 200px;
  background-color: white;
  position: absolute;
  bottom: 120%;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 0.125rem 0.25rem;
  right: 0;
  display: none;
}
.menu_model_user .view_user {
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-div);
  line-height: 10px;
}
.menu_model_user .view_user h5 {
  font-size: 16px;
  margin-bottom: 0 !important;
}
.menu_model_user ul {
  width: 100%;
  padding: 10px 0 !important;
}
.menu_model_user ul li {
  width: 100%;
}
.menu_model_user ul li a {
  width: 100%;
  padding: 7px 15px;
  color: var(--text-color);
  font-size: 15px;
  display: flex;
  align-items: start;
  align-items: center;
}
.menu_model_user ul li a i {
  margin-right: 10px;
  font-size: 17px;
  color: var(--text-color) !important;
  z-index: 10;
}
.menu_model_user ul li:hover {
  background-color: var(--hover-bg);
  transition: 0.3s linear;
}

.col_cart {
  width: 100%;
  text-align: center;
}
.col_cart button {
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-div);
  background: none;
  font-size: 18px;
}
.col_cart input {
  width: 50px;
  height: 30px;
  border: 1px solid var(--border-div);
  border-left: none;
  border-right: none;
  text-align: center;
  border-radius: unset !important;
  padding: 0 !important;
  text-align: center;
}
.col_cart span i {
  color: var(--color-main);
  cursor: pointer;
}

.menu_model_user::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -7px;
  right: 1.05rem;
  transform: rotate(45deg);
  border-top-left-radius: 0.25rem;
  background: inherit;
  border-bottom: 1px solid var(--border-div);
  border-right: 1px solid var(--border-div);
}

.model {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
  z-index: 1000000000000000000000000000000000000000000000000;
  background: var(--bg-div);
  border: 1px solid var(--border-div);
  border-radius: 4px;
  padding: 20px;
}

.total_price {
  padding-bottom: 20px;
}
.total_price h5 {
  color: var(--text-color);
  font-size: 16px;
  margin: 0 !important;
}
.total_price h5 .total_amount {
  font-size: 18px;
  color: #f56025;
}

/*# sourceMappingURL=app.css.map */
