<div class="wrapper">
    <div class="level">
        <div class="title">
            <h2>Ecommerce Dashboard</h2>
            <h5>Here’s what’s going on at your business right now</h5>
        </div>
        <div class="report_sale is-center">
            <div class="item_roport">
                <div class="icon_report">
                    <svg class="svg-inline--fa fa-square fa-stack-2x dark__text-opacity-50 text-success-light" data-fa-transform="down-4 rotate--10 left-4" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="transform-origin: 0.1875em 0.75em;"><g transform="translate(224 256)"><g transform="translate(-128, 128)  scale(1, 1)  rotate(-10 0 0)"><path fill="currentColor" d="M0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96z" transform="translate(-224 -256)"></path></g></g></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="level">
        
    </div>
</div>