<div class="wrapper chart">
    <div class="level">
        <div class="title">
            <h2>Ecommerce Dashboard</h2>
            <h5>Here’s what’s going on at your business right now</h5>
        </div>
        <div class="report_sale is-center">
            <div class="item_roport">
                <div class="parameter">
                    <h3>57 new orders</h3>
                    <h5>Awating processing</h5>
                </div>
            </div>

            <div class="item_roport">
                <div class="parameter">
                    <h3>5 orders</h3>
                    <h5>On hold</h5>
                </div>
            </div>

            <div class="item_roport">
                <div class="parameter">
                    <h3>15 orders</h3>
                    <h5>Out of stack</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="level">
    </div>
</div>
<div class="wrapper comments">
    <table class="table">
  <thead>
    <tr>
      <th scope="col" class="column_checkbox"><input type="checkbox" name="" id=""></th>
      <th scope="col">Product</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="column_checkbox"><input type="checkbox" name="" id=""></th>
      <td>
        <img src="/img/product/1.jpg
        
        
        " alt="">
      </td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
</div>